body {
    background-color: #f0f4f8;
    font-family: 'Vazirmatn', sans-serif;
    direction: rtl;
    text-align: center;
    padding-top: 100px;
}

.message {
    background-color: #ffffff;
    display: inline-block;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(151, 75, 75, 0.1);
    font-size: 20px;
    color: #333;
}

a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #db3434c0;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #2980b9;
}